/*MAIN*/
노랑 : #FFD339 / 파랑 : #689BDA
.main-wrapper {
    height: 100%;
    padding-top: 55px;
    overflow-x: hidden;
}
.main-title-container {
    font-size: 56px;
    font-weight: bold;
    margin-top: 130px;
    margin-bottom: 52px;
    font-family: 'sc7';
    color : #689BDA;
}
.search-box-wrapper {
    float: left;
    margin-top: 12.5px;
    margin-left: 30px;
    padding: 0 11px;
    width: 270px;
    height: 30px;
    border-radius: 14.5px;
    background-color: #f8f8f8
}
.search-box-wrapper .search-box-search-btn,.search-box-wrapper .search-box-query-box,.search-box-wrapper .search-box-cancel-btn {
    height: 30px;
    float: left
}
.search-box-wrapper .search-box-search-btn,.search-box-wrapper .search-box-cancel-btn {
    width: 30px
}
.search-box-wrapper .search-box-query-box {
    width: 188px
}
.search-box-wrapper .search-box-query-box  {
    height: 30px
}
.search-box-wrapper .search-box-query-box input{
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 14px;
    background: #f8f8f8 !important;
    line-height: 30px
}

.search-box-wrapper .search-box-query-box input::placeholder {
    font-size: 20px;
    font-family: 'sc3';
    color: #FFD339;
}

.search-box-wrapper .search-box-search-btn img {
    width: 18px;
    display: block;
    margin-top: 6px
}

.search-box-wrapper .search-box-cancel-btn img {
    display: none;
    width: 18px;
    margin-top: 6px;
    margin-left: 12px;
}

.main-search-box-container {
    width: 600px;
    margin: 0 auto;
    height: 51px;
}
.main-search-box-container .search-box-wrapper {
    width: 100%;
    margin: 0;
    height: 51px;
    background: none;
    border-bottom: 2px solid #FFD339;
    border-radius: 0;
    padding: 0 5px;
    position: relative;
}
.main-search-box-container .search-box-wrapper .search-box-search-btn {
    width: 43px;
    height: 43px
}

.main-search-box-container .search-box-wrapper .search-box-search-btn img {
    width: 38px;
    margin-top: 0
}

.main-search-box-container .search-box-wrapper .search-box-query-box {
    width: calc(100% - 73px);
    height: 43px;
    position: relative
}

.main-search-box-container .search-box-wrapper .search-query {
    height: 43px;
    font-family: 'sc5';
    color:#FFD339;
    caret-color: 	#FFD339;
}:focus{
	outline: none;
}

.main-search-box-container .search-box-wrapper .search-box-query-box input {
    height: 43px;
    background: #fff !important;
    padding: 0 10px;
    font-size: 22px;
    line-height: 43px;
    font-family: 'sc5';
    color:#555555;
}

.main-recent-wrapper {
    text-align: center;
    display: block;
    margin: 48px auto 24px;
    width: 775px;
    height: 304px;
    overflow: hidden
}
.main-recent-wrapper .recent-academy,.main-recent-wrapper .recent-acadam {
    float: left
}
.main-recent-wrapper .recent-academy {
    width: 323px;
    margin-right: 17px
}
.main-recent-wrapper .recent-acadam {
    width: 435px
}
.main-wrapper .list-header {
    height: 30px;
    margin-bottom: 5px;
    margin-left:50px;
    color: #689BDA;
    font-family: 'sc5';
}
.main-wrapper .list-header .total{
    height: 30px;
    margin-bottom: 5px;
    color: #689BDA;
    font-family: 'sc3';
}

.main-wrapper .list-title {
    display: inline-block;
    font-size: 1.2em;
    line-height: 30px;
    text-align: left;
    float: left
}
.d-recent-academy {
    height: 500px;
    background-color: #ffffff;
    padding-right: 40px;
    margin-left: 10px;
}

  .row::-webkit-scrollbar {
    width: 3.5px;
  }
  .row::-webkit-scrollbar-thumb {
    background-color: #FFD339;
    border-radius: 10px;
  }
  .row::-webkit-scrollbar-track {
    background-color: #689BDA;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px #689BDA;
  }

.d-recent-academy .list-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 40px;
    margin-bottom: 20px;
}


.d-recent-academy .reload-btn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    float: right;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}

.d-recent-academy .reload-btn i {
    line-height: 40px
}

.d-recent-academy .list-item {
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #444444;
    text-decoration: none;
    font-family: 'sc3';
}

.d-recent-academy .list-item span {
    font-size: 1.1em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
    display: block
}

.d-recent-academy a {
    text-decoration: none;
    color: inherit
}
.d-recent-acadam {
    height: 500px;
    background-color: #ffffff;
        padding-left: 20px;
    margin-right: 60px;
}

.d-recent-acadam .list-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 40px;
    margin-bottom: 20px;
}

.d-recent-acadam .list-header .total {
    float: right;
    margin-right: 1em;
    font-size: 0.8em;
}

.d-recent-acadam .list-item {
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #444444;
    text-decoration: none;
    font-family: 'sc3';
}

.d-recent-acadam .list-item span {
    font-size: 1.1em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: left
}

.d-recent-acadam .list-item span a {
    text-decoration: none;
    color: inherit
}

.d-recent-acadam .list-item .list-item-a {
    float: left;
    width: 60%
}

.d-recent-acadam .list-item .list-item-b {
    float: right;
    width: 28%;
    text-align: left;
    font-size: 0.8em;
    color: #689BDA;
}

.d-recent-acadam .infinite-scroll-component {
    margin-right: 0;
    width: 100%
}