<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokoa.acait.mapper.BoardMapper">

	<sql id="boardColumns">
		  BOARD_NO 
		, ACAD_CD AS acadCd
		, TITLE
		, CONTENT
		, PWD
		, DEL_YN AS delYn
		, HIT
		, REG_DATE
		, UPDT_DATE
	</sql>
	
	
	<!-- 게시물 목록 + 페이징 -->
	<select id="getListPaging2" resultType="com.kokoa.acait.vo.BoardVO">
    <![CDATA[
        SELECT * FROM (
        	SELECT board_no, title, content, reg_date, updt_date, hit 
        		FROM tb_board 
        		WHERE	DEL_YN = 'N'
				ORDER BY 
				  	BOARD_NO,
					REG_DATE 
					) AS T1
        		LIMIT #{skip},#{amount}
    ]]>
    </select>
    
    <!-- 게시물 목록 + 페이징 + 검색(정렬) -->
	<select id="getListPaging" resultType="com.kokoa.acait.vo.BoardVO" parameterType="com.kokoa.acait.vo.CriteriaVO">
    <![CDATA[
        SELECT * FROM (
        	SELECT board_no AS boardNo, title, content, reg_date, updt_date, hit 
        		FROM tb_board 
        		WHERE	DEL_YN = 'N'
        			ORDER BY 
				  	${sort} DESC
					) AS T1
        		LIMIT #{skip},#{amount}
    ]]>
    </select>
    
    <!-- 게시물 총 개수 -->
    <select id="getTotal" resultType="int">
        SELECT COUNT(*) FROM TB_BOARD
    </select>
    
     <!-- 게시물 조회수 -->
    <update id="updateBoardHit" parameterType="int">
        UPDATE tb_board SET
    	HIT = HIT+1
    	WHERE BOARD_NO = #{BOARD_NO}
    </update>
    
	<!-- 게시물 등록 -->
	<insert id="write" parameterType="com.kokoa.acait.vo.BoardVO">
        insert into tb_board(ACAD_CD, TITLE, CONTENT, PWD, REG_DATE)
		  VALUES(1, #{title}, #{content}, #{pwd}, NOW()) 
    </insert>
	
	<!-- 게시물 상세 -->
	<select id="view" parameterType="int" resultType="com.kokoa.acait.vo.BoardVO">
		SELECT
			<include refid="boardColumns" />
		FROM
			tb_board
		WHERE
			DEL_YN = 'N'
		AND
			BOARD_NO = #{BOARD_NO}
	</select>
	
	<!-- 게시물 수정 -->
	<update id="modify" parameterType="com.kokoa.acait.vo.BoardVO">
		UPDATE tb_board
		SET
			  UPDT_DATE = NOW()
			, ACAD_CD = 1
			, TITLE = #{title}
			, CONTENT = #{content}
		WHERE
			BOARD_NO = #{boardNo}
	</update>

	<!-- 게시물 삭제 -->
	<update id="delete" parameterType="com.kokoa.acait.vo.BoardVO">
		UPDATE tb_board
		SET
			  DEL_YN = 'Y'
		WHERE
			BOARD_NO = #{boardNo}
	</update>

	<select id="selectBoardList" parameterType="com.kokoa.acait.vo.BoardVO" resultType="com.kokoa.acait.vo.BoardVO">
		SELECT
			<include refid="boardColumns" />
		FROM
			tb_board
		WHERE
			DEL_YN = 'N'
		ORDER BY
			BOARD_NO DESC,
			REG_DATE DESC
	</select>

	<select id="selectBoardTotalCount" parameterType="com.kokoa.acait.vo.BoardVO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tb_board
		WHERE
			DEL_YN = 'N'
	</select>

</mapper>